<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>

<div class="row">
  <% if logged_in? %>
    <% provide(:title, 'Home') %>

    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' if logged_in? %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="timeline">
        <h2 class="title">Tweets</h2>
        <% if @feed_items.any? %>
        <ol class="tweets">
          <%= render partial: 'shared/feed_item', collection: @feed_items %>
          <div class="paginate">
            <%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
          </div>
        </ol>
        <% end %>
      </div>
    </div>
  <% else %>
    <% provide(:title, 'Welcome') %>

      <h1 align = "center">Welcome to TweeKo</h1>
      <p align = "center"> See what’s happening in the world right now</p>

      <p align = "center">
      <%= link_to 'Sign up', signup_path, class: "btn btn-primary" %>
      <%= link_to 'Log in', login_path, class: "btn btn-default" %>
      </p>

      <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT TweeKo</h3>
        <p class="w3-center w3-large">Key features of our application</p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
          <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Tweeks</p>
            <p>The application is completely free to use and anyone can use it to share their ideas</p>
          </div>
          <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Passion</p>
            <p>We made it with passion to provide our users a great user expereince so that they can use this for making a better tommorow</p>
          </div>
          <div class="w3-quarter">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Design</p>
            <p>With a great UI/UX, Tweeko is designed to give the best user experience</p>
          </div>
          <div class="w3-quarter">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Support</p>
            <p>Best 24/7 developer and community support</p>
          </div>
        </div>
      </div>

  <% end %>
</div>
